

#about{



}

.about-container{
    background: var(--surface);
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 60px;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
}


.about-content p{
    color: var(--gray);
    line-height: 1.9;
    font-size: 18px;
    margin: 20px;
}

.about-highlights{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.highlight-card-text{
     font-size: 14px;
}

.highlight-card{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background: #20242d;
    padding: 25px;
    border-radius: 12px;
    border-left: 4px solid var(--primary);
    transition: .35s;
}

.highlight-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,.3);
}

.highlight-card i{
    font-size: 28px;
    color: var(--primary);
    margin-top: 5px;
}

.highlight-card p{
    margin: 0;
    color: var(--gray);
    line-height: 1.7;
}

@media(max-width:800px){

#about{
width: 90%;
justify-self: center;
}

.about-container{
display: block;
background-color: transparent;
justify-items: center;
width: 100%;
padding: 20px 0;
}

.highlight-card{
    width: 100%;
}
.about-content{
    display: none;
}

.about-highlights{
align-items: center;
width: 90%;
}
}