
.contact-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width:650px;
    margin:auto;
    background:var(--surface);
    padding:40px;
    border-radius:12px;
    gap: 10px 60px;
}

.contact-info p{
    margin-bottom:25px;
    font-size:18px;
}

.contact-info i{
    color:var(--primary);
    width:40px;
    font-size:20px;
}

.contact-info a{
color: white;
text-decoration: none;
}

.contact-info a:hover{
text-decoration: underline;
}


@media(max-width:660px){

    .contact-info{
        grid-template-columns: 1fr;
        gap: 30px;
    }

        .contact-info p{
            margin: 0;
        }

}