
footer{
    background:#0f1118;
    border-top:1px solid var(--border);
    padding:20px 0;
}

.footer{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}

footer p{
    color:var(--gray);
    margin:0;
}

.logo-img{
    width:60px;
    height:auto;
}