
footer{
    display: flex;
    flex-direction: column;
    padding:35px 0;
    background:#0f1118;
    text-align:center;
    border-top:1px solid var(--border);
}

footer p{
    display: inline;
    color:var(--gray);
    margin:8px 0;
}