.navbar{
    background:#1c1f26ee;
    backdrop-filter:blur(10px);
    padding:18px 0;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:var(--primary)!important;
}

.logo-img{
        width:80px;

}

.navbar-nav .nav-link{
    color:var(--gray);
    margin:0 12px;
    transition:.3s;
}

.navbar-nav .nav-link:hover{
    color:var(--primary);
}

.navbar-nav .nav-link.active{
    color:var(--primary)!important;
}

.contact-btn    {
    background:var(--primary);
    color:white;
    padding:10px 22px;
    border-radius:8px;
    transition:.3s;
}

.contact-btn:hover{
    background:var(--primary-hover);
    color:white;
}
